.main-container{
    display: flex;
    flex-direction: column;
    background-color: skyblue;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    min-width: 100vw;
    font-family:serif;
}

.heading{
    font-size: 80px;
}

.image{
    border-radius: 50px;
}

.description{
    font-size: 30px;
}

.img-div{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
